.topping {
  display: grid;
  grid-template-columns: auto 1fr 2rem 2.6rem 2rem;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,0,0.05);
  border-radius: 3px;
}

.topping > img {
  width: 40px;
  height: 42px;
  background: #e6e6e6;
  border: 0;
}

.topping > span {
  padding: 0 14px;
  font-size: 16px;
  text-transform: capitalize;
}

.topping:hover,
.topping--active {
  background: #1a98e1;
}

.topping:hover span,
.topping:hover button,
.topping--active span,
.topping--active button {
  color: #ffffff;
}


.topping__amount span {
  width: 2rem;
  text-align: center;
}

.topping > button {
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  outline: 0;
  cursor: pointer;
}

.topping > button:hover {
  background-color: #1a98e1;
  color: white;
}